.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho__imagem {
    width: 100%;
}

.cabecalho__titulo-desktop {
    display: none;
}

.change-theme {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: .8em;
    border-radius: 50%;
    background-color: var(--laranja);
    color: var(--preto);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1em;
    border: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__imagem {
        width: 50%;
        padding: 1em;
    }

    .cabecalho__titulo-desktop {
        display: block;
        font-size: 3em;
        text-align: center;
        border: 2px solid var(--preto);
        padding: .5em;
        border-radius: 10px;
        margin-top: .5em;
    }

    .change-theme {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        padding: .8em;
        border-radius: 50%;
        background-color: var(--laranja);
        color: var(--preto);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1em;
        border: none;
    }

    .cabecalho {
        background-color: var(--preto-fundo);
    }

}
